body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F1FAEE;
    color: #000000; /*black text*/
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: #E63946;
    color: white;
    border: none;
}

button:hover {
    background-color: #B81D25;
}

#compatibilityResult {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}
