body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f44336;
    color: #fff;
    text-align: center;
    padding: 10px;
}

main {
    padding: 10px;
}

#buttons-section {
    text-align: center;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.button-wrapper {
    margin: 20px; /* Adjust the margin here */
    position: relative;
}

.btn {
    padding: 12px; /* Adjust the padding here */
    background-color: #f44336;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #d32f2f;
}

.step {
    display:inline; /* flow root or flex or flexbox*/
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
